{% extends 'core/base.html' %}

{% load static %}

{% block title %}Visítanos{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Te esperamos</span>
            <span class="section-heading-lower">Visítanos</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
            <span class="ml-auto">El mirasol 2922
1833 Lomas de Zamora, Provincia de Buenos Aires, Argentina</span>
            </li>
           
          </ul>
          <p class="address mb-5">
            
            <br>
            DIRECCIÓN
          </p>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.8258827364243!2d-58.36510748489564!3d-34.75997867328956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32d304a699ba3%3A0x585afabe04e52513!2sEMF%2C%20Mirasol%202922%2C%20B1834%20Temperley%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2smx!4v1597193204361!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}