{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

{% for service in services reversed %}
  <section class="page-section">
    <div class="card" style="width: 18rem;">
      <div class="product-item">
        <div class="card-img-top">
          <div class="card-body">
            <h2 class="section-heading mb-0">
              <span class="card-text">{{service.subtitle}}</span>
              <span class="card-text">{{service.title}}</span>
            </h2>
          </div>
        </div>
        <img class="card-img-top" src="{{service.image.url}}" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">{{service.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}

{% endblock %}